.btn {
    background-color: #4b5320;
    border-color: #4b5320;
    align-content: center;
    color: white;
    width: 100%;
}
.bar {
    display: none;
    margin: 0 auto;
    background-color: lightgray;
    height: 24px;
    width: 40%;
}

.progressed {
    background-color: green;
    height: 24px;
    width: 0;
}
.wrapper {
    width:100%;
    margin:0;
    text-align: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#output {
    display: none;
    border-style: solid;
    border-width: 1px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    height: 20vh;
}
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
}
#stopScraping {
    display: none;
}
#stopFetching {
    display:none;
}
#stopDownloading {
    display: none;
}
#stopConverting {
    display: none;
}