#headline{
    display: flex;
    background-color: tan;
    margin:0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 48pt;
    margin-bottom: 2%;
    color: black;
}
