<div id="wrapper">
  <div class="container">
    <h4 class="text-center mb-5">Create Database</h4>
    <div class="row justify-content-center">
      <div class="createDatabase">
        <button
          type="submit"
          class="butt-on-lol btn-primary"
          title="This creates an empty database"
          (click)="buildDb()"
        >
          Create Database
        </button>
      </div>
    </div>
    <div id="dbCreateStatus" class="responseText">{{ dbCreateStatus }}</div>
  </div>
  <hr />
  <div class="container">
    <h4 class="text-center mb-5">Import Data</h4>
    <div class="input">
      <input type="file" name="single" ng2FileSelect [uploader]="uploader" />
    </div>
    <div class="col-6">
      <div class="createDatabase">
        <div class="upload">
          <table class="table justify-content-center">
            <thead>
              <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td>
                  <strong>{{ item?.file?.name }}</strong>
                </td>
                <td *ngIf="uploader.options.isHTML5" nowrap>
                  {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
                </td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{ width: item.progress + '%' }"
                    ></div>
                  </div>
                </td>
                <td nowrap>
                  <button
                    type="button"
                    class="btn btn-success btn-xs"
                    (click)="item.upload()"
                    [disabled]="
                      item.isReady || item.isUploading || item.isSuccess
                    "
                  >
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning btn-xs"
                    (click)="item.cancel()"
                    [disabled]="!item.isUploading"
                  >
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-xs"
                    (click)="item.remove()"
                  >
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="createDatabase">
          <button
            type="submit"
            [disabled]="migrating"
            title="This will import the data"
            class="butt-on-lol btn-primary"
            (click)="import()"
          >
            Import
          </button>
        </div>
      </div>
    </div>
    <img alt="" src="" id="loading" width="50" />
    <div id="migrateStatus" class="responseText">{{ migrateStatus }}</div>
  </div>
</div>
